
/* http://paletton.com/#uid=54K1m0knmrOdXEgj9v2ronNuziX */
/* https://bootswatch.com/4-alpha/pulse/ */

html {
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  color: #490964;
  background: #8847A4;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8847A4, #490964);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8847A4, #490964);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8847A4, #490964);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8847A4, #490964);
  /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1em;
  text-align:center;
}


input {
  
  background-color: #222;
  color: #ffcc33;
  font-size: 2em;
  text-align: center;
  width: 80%;
}

#output {
  margin: 10px auto;
  width: 80%;
  height: 50%;
}


table, th, td {
    border: 3px solid #490964;
    border-collapse: collapse;
}

td {
 width:  7%;
}
#tabOut {
    width: 100%; 
    background-color: #f1f1c1;  
}

table#tabOut #calc td:nth-child(even) {
    background-color: #8847A4;
  color: #ffcc33;
}

 .check {
  color: #ffcc33;

   
}


#result {
    background-color: #490964;  
  color: #ffcc33;

  
}

#barCode, #checksum {
  font-size: 2em; 

  
}

#passOrFail {
  
  font-size: 2em; 
}
