/* This is where all of the CSS definitions go */

body {
  background-color: blueviolet;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/* This defines the look and position of the ball. The border-radius is what makes it round. */

#ball {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  right: 50%;
  background-color: burlywood;
  border: 5px solid black;
  border-radius: 30px;
}

#output {
  font-size: 2em;
}
