html {
  height: 100%;
  background: url(images/trumpBefore.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-family: 'Oxygen', sans-serif;
	font-size:1em;
}

#message {
  margin: 1% auto;
  text-align: center;
  width: 55%;
/* 	height:25%; */
/* 	max-height:32%; */
  padding: 0 12px;
  border: 2px solid #000;
  border-radius: 7px;
  display: block;
  overflow: hidden;
  background-color: #000;
  color: #FFF;
  background: url("images/dollar.jpg") no-repeat center;
  font-size: 1.1em;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.voteButton {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.2em;
  float: left;
  position: absolute;
/*   top: 35%; */
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #333;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  cursor: pointer;
  box-shadow: 5px 6px 25px #000;
  background-color: #000;
  opacity: 0.7;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */	
}

.voteButton:hover {
  opacity: 0.9;
}

.statcounter {
	
    position: absolute;
    bottom: 7px;
 		left:50%;
		color:#000;
}
#voteYes {
  left: 30%
}

#voteNo {
  right: 30%
}