
body {
    text-align: center;
    font-family: "Orbitron", serif;
    font-size: 48px;
    background-color: #912983;
    margin: 10%;
  }
  
  input {
    font-family: "Orbitron", serif !important;
    font-size: 18px;
    color: #ffffe6 !important;
    padding: 5px;
    background-color: #333;
    border: 3px solid #c5a665;
  }
  
  #arrow {
    margin-top: 5%;
    font-size: 3em;
  }

  #out {
      margin-top:5%;
      visibility: hidden;
  }

  #outtext {
      font-size:0.8em;
  }