
/* this defines how the body will look */
body {
	background-color: #554D00;
	color: #D4CB6A;
	text-align:center;
	font-family: 'Share Tech Mono', monospace;
}

/* 
the # says to define a specific element with an id="input" 
*/
#container {
	color: #807615;
	border: 3px solid #554D00;
	border-radius:10px;
	background-color:#D4CB6A;
	width: 80%;
	min-height:500px;
	margin: 0 auto;
	font-size:1.6em;
}

#start {
	width:10%;
	float:left;
	margin-left:20%;
	margin-top:10%;
	text-align: center;
}

#radios {
	text-align:left;
	margin: 6% auto;
	width: 12%;
	float:left;

/* 	display: inline; */
}

#amount {
	width: 100px;
	height: 40px;
	font-size: 1.4em;
	background-color: #333;
	color: #ffcc33;
	border: 2px solid #280E52;
}

#convert {
	width: 100px;
	height: 40px;
	color: #D4CB6A;
	border: 2px solid #D4CB6A;
	background-color: #554D00;
	cursor: pointer;
	font-size: .8em;
}

#convert:hover {
	background-color: #807615;
	color: #554D00;
}

#end {
	width:40%;
	float:left;
	text-align: left;
	margin-top:10%;
}

#output {
	font-size: 2em;
	width: 90%;
	margin: 25% auto;
	text-align:center;
}