* {
  margin: 0;
}

html {
  background: url('media/wood.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  font-family: "Orbitron", serif;
  font-size: 48px;
}

input {
  font-family: "Orbitron", serif !important;
  font-size: 18px;
  color: #ffffe6 !important;
  padding: 5px;
  background-color: #333;
  border: 3px solid #c5a665;
}

#thing {
  margin-top: 30px;
}

#go, #playStop, #gong {
  margin: 10px 0 0 0;
  font-size: 40px;
  color: #c5a665;
  cursor: pointer;
  border: 3px solid #c5a665;
  background-color: #333;
}

#go:hover {
  color: #333;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #c5a665;
}

#minutes {
  margin: 10px 0 10px 0px;
  width: 220px;
  float: left;
  height: 28px;
}

#control {
  margin: 10px auto;
  width: 50%;
  text-align: center;
}

.flip-clock-label {
  visibility: hidden;
}

#wrapper {
  width: 849px;
  height: 400px;
  margin: 100px auto;
  background-image: url('media/retro.jpg');
  background-repeat: no-repeat;
  border: 1px solid #000;
  box-shadow: 5px 5px 15px #333;
}

.clock,
.flip-clock-wrapper {
  padding: 60px 200px 200px 260px;
  width: 350px;
}