/* This is where all of the CSS definitions go */

body {
	background-color: #875795;
	text-align: center;
	font-family: 'Share Tech Mono', monospace;
}

/* This defines the div with the id="output" */
#output {
	font-size: 2em;
	margin-top: 100px;
}