html {
  height: 100%;
  background-color: #000;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-family: 'Electrolize', sans-serif;
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

@font-face {
  font-family: 'Asian Delight';
  src: url('resources/fonts/Asian Delight.eot');
  src: url('resources/fonts/Asian Delight.eot?#iefix') format('embedded-opentype'), url('resources/fonts/Asian Delight.woff2') format('woff2'), url('resources/fonts/Asian Delight.woff') format('woff'), url('resources/fonts/Asian Delight.svg#Asian Delight') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

.asianFont {
  /* this font is CAPS and numbers only */
  font-family: 'Asian Delight';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.title {
  font-size: 3em;
  text-align:center;
  color: #A11F1F;
  padding-top: 24px;
  padding-bottom: 30px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #FFCE00, 0 3px 0 #FFCE00;
  background-color: rgba(0,0,0,0.4);
  border: 2px solid #000;
  border-radius: 5px;
  width: 40%;
  margin: 2% auto;
}

#welcome {
  margin: 6% auto;
  text-align: center;
  font-size: 4em;
  color: #A11F1F;
  padding-top: 24px;
  padding-bottom: 30px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #FFCE00, 0 3px 0 #FFCE00;
}

#topBar {
  width: 100%;
  height: 15%;
}

#main {
  width: 100%;
  height: 85%;
}

#leftSide {
  width: 50%;
  float: left;
}

#rightSide {
  width: 50%;
  float: right;
}

#aiHand-container {
/*   width: 60% !important; */
  float: right;
/*   margin: 20% 0% 10% 3%; */
}

#aiHand {
}

.userChoice {
  width: 60%;
}

.userChoice:hover {
  width: 85%;
  cursor:pointer;
}

#announceModal {
  
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;

  z-index:1000000000;
}

#announceText {
  font-size:7em;
  text-align:center;
  color: #A11F1F;
  padding-top: 6%;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #FFCE00, 0 3px 0 #FFCE00;  
  width: 40%;
  height: 40%;
  background-color: rgb(0,0,0);
  border: 10px solid  #FFCE00;
  border-radius: 50%;
  margin: 10% auto 0 auto;
  
}
/* ------------   button ------------- */

#container_button {
  background-color: #252525;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
  -moz-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
  box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
}

#hole {
  background-color: #151515;
  width: 310px;
  height: 310px;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  position: relative;
  -webkit-border-radius: 155px;
  -moz-border-radius: 155px;
  border-radius: 155px;
  -webkit-box-shadow: 1px 1px 0px #5d5d5d;
  -moz-box-shadow: 1px 1px 0px #5d5d5d;
  box-shadow: 1px 1px 0px #5d5d5d;
}

#button {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  cursor: pointer;
  top: -5px;
  position: relative;
  background-image: linear-gradient(bottom, rgb(82, 79, 82) 0%, rgb(134, 134, 134) 57%);
  background-image: -o-linear-gradient(bottom, rgb(82, 79, 82) 0%, rgb(134, 134, 134) 57%);
  background-image: -moz-linear-gradient(bottom, rgb(82, 79, 82) 0%, rgb(134, 134, 134) 57%);
  background-image: -webkit-linear-gradient(bottom, rgb(82, 79, 82) 0%, rgb(134, 134, 134) 57%);
  background-image: -ms-linear-gradient(bottom, rgb(82, 79, 82) 0%, rgb(134, 134, 134) 57%);
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  -webkit-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
  -moz-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
  box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

#button:active {
  top: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: inset 0px 2px 0px #a8a8a8;
}

#triangle {
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -27px;
  top: -50px;
  position: relative;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 80px solid #22a9db;
  z-index: 2;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

#button:hover #triangle {
  border-left: 80px solid #45bde9
}

#button:active #triangle {
  border-left: 80px solid #e94545
}

#lighter_triangle {
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -27px;
  top: -48px;
  position: absolute;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 80px solid #43c0ee;
  z-index: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

#button:hover #lighter_triangle {
  border-left: 80px solid #8bdaf7
}

#button:active #lighter_triangle {
  border-left: 80px solid #f78b8b
}

#darker_triangle {
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -28px;
  top: -53px;
  position: absolute;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 80px solid #0a7da7;
  z-index: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

#button:hover #darker_triangle {
  border-left: 80px solid #1d98c5
}

#button:active #darker_triangle {
  border-left: 80px solid #c51d1d
}